@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .safe-area-top {
    padding-top: env(safe-area-inset-top);
  }
}

@media (max-width: 1023px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  button, a {
    touch-action: manipulation;
  }
}
